<style>
.comment {
  margin-left: 20px;
  background: rgba(225, 255, 255, 0.5);
  padding: 2% 3%;
}
.card-text {
  background: #ffffff;
  padding: 1%;
}
</style>


<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">All Feeds</h3>
            <!-- Button trigger Feed modal -->
            <div class="card-tools">
              <button
                type="button"
                class="btn btn-primary float-right"
                @click="newModal"
              >Add New Feed</button>
            </div>
          </div>
          <!-- Feed Show -->
          <div class="card-body col-md-10">
            <div v-for="feed in feeds" :key="feed.id" class="col-md-10">
              <div class="card card-prirary cardutline direct-chat direct-chat-primary">
                <div class="card-header">
                  <h3 class="card-title">Feed Box {{feed.id}}</h3>

                  <div class="card-tools">
                    <a href="#" @click="editModal(feed)">
                      <i class="fa fa-edit blue"></i>
                    </a>
                    /
                    <button href="#" @click="deleteFeed(feed.id)">
                      <i class="fa fa-trash red"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="direct-chat-messages">
                    <div class="direct-chat-msg">
                      <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name float-left">{{feed.name}}</span>
                        <span
                          class="direct-chat-timestamp float-right"
                        >{{feed.created_at | feedDate}}</span>
                      </div>
                      <div class="direct-chat-text">{{feed.feed_body}}</div>
                    </div>
                    <div
                      v-for="comment in feed.comment"
                      :key="comment.id"
                      class="direct-chat-msg right"
                    >
                      <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name float-right">{{comment.name}}</span>
                        <span
                          class="direct-chat-timestamp float-left"
                        >{{comment.created_at | feedDate}}</span>
                      </div>
                      <div class="direct-chat-text">{{comment.com_body}}</div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button
                    @click="getFeedId(feed)"
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#commentModel"
                  >Comment</button>
                </div>
                <!-- /.card-footer-->
              </div>
            </div>
          </div>
          <!--- End -->
        </div>
      </div>
    </div>
    <!--Feed Modal -->
    <div
      class="modal fade"
      id="feedModel"
      tabindex="-1"
      role="dialog"
      aria-labelledby="feedModelTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 v-show="editmode" class="modal-title" id="feedModalLongTitle">Edit Feed</h5>
            <h5 v-show="!editmode" class="modal-title" id="feedModalLongTitle">Your Feed</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editmode ? updateFeed() : addFeed()">
            <div class="modal-body">
              <div class="form-group">
                <input
                  v-model="form.name"
                  type="text"
                  name="name"
                  placeholder="Your Name"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('name') }"
                />
                <has-error :form="form" field="name"></has-error>
              </div>
              <div class="form-group">
                <textarea
                  v-model="form.feed_body"
                  type="text"
                  name="feed_body"
                  placeholder="Your Feed"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('feed_body') }"
                ></textarea>
                <has-error :form="form" field="feed_body"></has-error>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
              <button v-show="!editmode" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--Comment Modal -->
    <div
      class="modal fade"
      id="commentModel"
      tabindex="-1"
      role="dialog"
      aria-labelledby="commentModelTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="commentModalLongTitle">Your comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="addComment">
            <div class="modal-body">
              <div class="form-group">
                <input
                  v-model="com_form.name"
                  type="text"
                  name="name"
                  placeholder="Your Name"
                  class="form-control"
                  :class="{ 'is-invalid': com_form.errors.has('name') }"
                />
                <has-error :form="com_form" field="name"></has-error>
              </div>
              <div class="form-group">
                <textarea
                  v-model="com_form.com_body"
                  type="text"
                  name="com_body"
                  placeholder="Your Comment"
                  class="form-control"
                  :class="{ 'is-invalid': com_form.errors.has('com_body') }"
                ></textarea>
                <has-error :form="com_form" field="com_body"></has-error>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      editmode: false,
      feeds: {},
      form: new Form({
        id: "",
        name: "",
        feed_body: ""
      }),
      com_form: new Form({
        name: "",
        com_body: ""
      })
    };
  },
  methods: {
    newModal() {
      this.editmode = false;
      this.form.reset();
      $("#feedModel").modal("show");
    },
    editModal(feed) {
      this.editmode = true;
      this.form.reset();
      $("#feedModel").modal("show");
      this.form.fill(feed);
    },
    /**
     * Feed Section
     */
    loadFeeds() {
      axios.get("api/v1/feeds").then(({ data }) => (this.feeds = data.data));
    },

    addFeed() {
      this.$Progress.start();
      this.form
        .post("/api/v1/feeds")
        .then(() => {
          Event.$emit("FeedCreated");
          $("#feedModel").modal("hide");

          Toast.fire({
            type: "success",
            title: "Feed Created"
          });

          this.$Progress.finish();
        })
        .catch(() => {
          this.$Progress.fail();
        });
    },

    updateFeed() {
      this.$Progress.start();
      this.form
        .put("/api/v1/feeds/" + this.form.id)
        .then(() => {
          Event.$emit("FeedCreated");
          $("#feedModel").modal("hide");

          Toast.fire({
            type: "success",
            title: "Feed Created"
          });

          this.$Progress.finish();
        })
        .catch(() => {
          this.$Progress.fail();
        });
    },
    /**
     * Feed Section End
     */

    /**
     * Comment Section
     */
    getFeedId(feed) {
      this.form.fill(feed);
    },
    addComment() {
      this.$Progress.start();
      this.com_form
        .post("/api/v1/comments/" + this.form.id)
        .then(() => {
          Event.$emit("CommentAdded");
          $("#commentModel").modal("hide");

          Toast.fire({
            type: "success",
            title: "Comment Added"
          });

          this.$Progress.finish();
          this.com_form.reset();
        })
        .catch(() => {
          this.$Progress.fail();
        });
    },
    deleteFeed(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        this.form
          .delete("/api/v1/feeds/" + id)
          .then(() => {
            Swal.fire("Deleted!", "Your feed has been deleted.", "success");
            Event.$emit("FeedCreated");
          })
          .catch(() => {});
      });
    }

    /**
     * Comment Section End
     */
  },
  created() {
    this.loadFeeds();
    Event.$on("FeedCreated", () => {
      this.loadFeeds();
    });
    Event.$on("CommentAdded", () => {
      this.loadFeeds();
    });
  }
};
</script>

