<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3>Users List</h3>
          </div>

          <div class="card-body">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Type</th>
                  <th>Registered At</th>
                </tr>
                <tr v-for="user in users" :key="user.id">
                  <td>{{user.id}}</td>
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.type | capitalize}}</td>
                  <td>{{user.created_at | date}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      users: {}
    };
  },
  methods: {
    loadUsers() {
      axios.get("api/v1/users").then(({ data }) => (this.users = data.data));
    }
  },
  created() {
    this.loadUsers();
    setInterval(() => this.loadUsers(), 10000);
  }
};
</script>
